# 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

## Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np

In [3]:
people = np.random.randint(100000,1000000,size=8)
people

array([734218, 787774, 699712, 398459, 761014, 987984, 391174, 817638])

In [4]:
data = {'國家':['Taiwan','Japan','U.K.','USA','Australia','Korea','China','India'] ,
        '人口': people}
data = pd.DataFrame(data)
data

          國家      人口
0     Taiwan  734218
1      Japan  787774
2       U.K.  699712
3        USA  398459
4  Australia  761014
5      Korea  987984
6      China  391174
7      India  817638

In [5]:
index = data['人口'].idxmax()
data.iloc[index]

國家     Korea
人口    987984
Name: 5, dtype: object

# 讀取 txt 檔
請讀取 text file
懶人複製連結: https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt

In [7]:
target_url = "https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt"

In [15]:
import requests
response = requests.get(target_url)
txt_data = response.text
print(len(txt_data))
txt_data[0:100]

784594

'n00015388_157\thttp://farm1.static.flickr.com/145/430300483_21e993670c.jpg\nn00015388_238\thttp://farm2'

In [16]:
split_tag = '\n'
txt_data = txt_data.split(split_tag)
print(len(txt_data))
txt_data

9996

'n00015388_157\thttp://farm1.static.flickr.com/145/430300483_21e993670c.jpg'

In [27]:
raw = []
for i in txt_data:
    i = i.split('\t')
    raw.append(i)
df =pd.DataFrame(raw)
df.columns = [['id','img']]
df.head()

              id                                                img
0  n00015388_157  http://farm1.static.flickr.com/145/430300483_2...
1  n00015388_238  http://farm2.static.flickr.com/1005/3352960681...
2  n00015388_304  http://farm1.static.flickr.com/27/51009336_a96...
3  n00015388_327  http://farm4.static.flickr.com/3025/2444687979...
4  n00015388_355  http://img100.imageshack.us/img100/3253/forres...

In [66]:
from PIL import Image
from io import BytesIO
import numpy as np
import matplotlib.pyplot as plt
first_link = df.iloc[0:1]['img']
first_link
response = requests.get(first_link)
img = Image.open(BytesIO(response.content))

plt.imshow(img)
plt.show()

AttributeError: 'DataFrame' object has no attribute 'tolist'